<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="stylesheet" href="../CSS/normalize.css" />
    <script defer src="../JavaScript/app.js"></script>
  </head>
  <body>
    <h1>Profile</h1>
    <nav>
      <ul>
        <li><a href="home.html"></a></li>
        <li><a href="catalog.html"></a></li>
        <li><a href="cart.html"></a></li>
        <li><a href="profile.html"></a></li>
      </ul>
    </nav>
    <div>
      <div>fullname</div>
      <div>age</div>
      <img src="" alt="" />
      <div>email</div>
    </div>
    <nav>
      <button>Изменить данные</button>
      <button>Удалить данные</button>
      <button>Выйти из ЛК</button>
    </nav>
  </body>
</html>
